@mixin burgerBtn {
    position: absolute;
    right: 0;
    height: 3px;
    content: '';
    background-color: $pure-white;
    transition: width .3s;
}

@mixin heroImages($bgImg) {
    background-image: $blue-gradient, url($bgImg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}